.background-shapes {
  height: 100%;
  width: 100vw;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  overflow: hidden;
}

.background-shapes .bs-triangle {
  fill: rgba($bs-blue, 0.5);
  height: 80vw;
  transform: rotate(40deg);
  margin: 0;

  position: relative;
  left: -2.5vw;
  top: 2.5vw;
}

.background-shapes .bs-square {
  background-color: rgba($bs-pink, 0.5);
  height: 80vw;
  width: 80vw;
  transform: rotate(20deg);

  position: relative;
  left: 30vw;
  margin-top: 30vh;
  margin-right: 0;
}

.background-shapes .bs-circle {
  background-color: $bs-yellow;
  height: 90vw;
  width: 90vw;
  border-radius: 1000px;

  position: relative;
  left: -20vw;
  margin-top: 50vh;
  margin-bottom: 50vh;
}


// RESPONSIVE
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .background-shapes .bs-triangle {
    height: 70vw;
    left: -1.5vw;
    top: 5vh;
  }

  .background-shapes .bs-square {
    height: 60vw;
    width: 60vw;
    left: 50vw;
    margin-top: 40vh;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .background-shapes .bs-triangle {
    height: 60vw;
    left: -1.5vw;
    top: 5vh;
  }

  .background-shapes .bs-square {
    height: 50vw;
    width: 50vw;
    left: 55vw;
  }

  .background-shapes .bs-circle {

  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .background-shapes .bs-triangle {
    height: 50vw;
    left: 5vw;
    top: 5vh;
  }

  .background-shapes .bs-square {
    height: 40vw;
    width: 40vw;
    left: 60vw;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .background-shapes .bs-triangle {
    height: 35vw;
    max-height: 550px;
    left: 5vw;
    top: 2vh;
  }

  // TOO LARGE
  .background-shapes .bs-square {
    height: 35vw;
    max-height: 500px;
    width: 35vw;
    max-width: 500px;
    left: 65vw;

    margin-top: 40vh;
  }

  .background-shapes .bs-circle {
    height: 90vw;
    width: 90vw;
  }
}
