.banner {
  width: 100%;
}

.banner.container {
  position: relative;
}

.banner .coming-soon {
  font-family: $header-font;
  font-weight: 800;
  font-size: 3rem;
  color: $dark-blue;
  text-align: center;
  transform: rotate($logo-angle);

  position: relative;
  margin-top: 0;
}

@media screen and (min-width: 576px) {
  .banner .coming-soon {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 768px) {
  .banner .coming-soon {
    font-size: 4rem;
  }
}
