.container {
  margin: 0 auto;
  // background-color: orange;

  width: $container-width-small;
}

@media screen and (min-width: 576px) {
  .container {
    width: $container-width-medium;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: $container-width-large;
  }
}
