p {
  margin-top: 0;
  margin-bottom: 0;

  span {
    font-family: $header-font;
    font-weight: 800;
  }
}

.content {
  margin-top: 5vh;
  margin-bottom: 7.5vh;
}

@media screen and (min-width: 576px) {
  .content {

  }
}

@media screen and (min-width: 768px) {

}
