.container {
  width: 90vw;
  margin: 0 auto;
}

.img-container {
  width: 100vw;
  margin: 100px auto;
  margin-bottom: 0;
  padding-bottom: 60px;


  position: relative;
  overflow: hidden;
}

.form-container {
  display: flex;
  justify-content: center;
}

// RESPONSIVE TEMPLATE
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container,
  .img-container {
    width: 500px;
    overflow: visible;
  }

  .img-container {
    margin-top: 80px;
    padding-right: 16px;
  }
}

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
// }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container,
  .img-container {
    width: 600px;
  }

  .img-container {
    margin-top: 100px;
  }

}

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
// }
