p {
  margin-top: 0;
  margin-bottom: 0;

  span {
    font-family: $header-font;
    font-weight: 800;
  }
}

.content {
  color: $dark-blue;
  font-family: $body-font;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;

  margin-top: 10vh;
  margin-bottom: 7.5vh;
}

@media screen and (min-width: 576px) {
  .content {

  }
}

@media screen and (min-width: 768px) {

}
