footer {
  height: 15vh;
}

footer .contact-us {
  color: rgba($dark-blue, 0.7);
  font-size: 18px;

  display: flex;
  justify-content: center;

  a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;

    margin-left: 0.5rem;
    margin-right: 0.5rem;

    cursor: pointer;
  }

  a:hover {
    color: rgba($dark-blue, 1);
  }
}

footer .fas {
  display: flex;
  align-items: center;
}

footer .fa-arrow-circle-right {
  margin-left: 0.5rem;
}
