.logo-button {
  height: $logo-width-small;
  width: $logo-width-small;

  margin-left: 45vw;
  margin-top: 40px;
}

// RESPONSIVE
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .logo-button {
    margin-left: 50vw;
  }
}

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
// }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .logo-button {
    height: $logo-width-large;
    width: $logo-width-large;
  }
}

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
// }
