.subscribe-form {
  font-family: $body-font;
  color: $dark-blue;

  background-color: $blue-oyster-bay;
  border-radius: 24px;
  box-shadow: inset 0px -5px 0px $dark-blue;

  position: relative;
  padding: 32px 20px 40px 20px;
  margin-top: 100px;
  margin-bottom: 80px;

  // max-width: 500px;
}

.subscribe-form > h2 {
  margin-top: 0;

  font-size: 20px;
  font-weight: 400;

  span {
    font-size: 24px;
    font-weight: 800;
  }
}

.subscribe-form .mc-field-group {
  display: flex;
  flex-direction: column;

  label {
    font-size: 12px;

    margin-top: 14px;
    margin-bottom: 8px;
  }

  input {
    height: 32px;

    outline: none;
    border: none;
    border-radius: 16px;

    font-family: $body-font;
    font-size: 16px;
    font-weight: 700;
    color: $dark-blue;

    padding: 3px 20px 1px 20px;
  }

  input:focus {
    box-shadow: inset 2px 3px 3px rgba(0, 0, 0, 0.25);
  }
}

.subscribe-form .submit-button-container {
  position: absolute;
  bottom: -20px;
  right: 40px;
}

.subscribe-form input[type="submit"] {
  background-color: $dark-blue;
  border: none;

  font-family: $body-font;
  font-size: 20px;
  font-weight: 700;
  color: white;

  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 20px;
}

.subscribe-form input[type="submit"]:hover {
  cursor: pointer;
}

.custom-mce-inline-error {
  background-color: yellow;
}

#mce-responses {
  padding-top: 16px;
  text-align: center;
}


@media screen and (min-width: 576px) {
  .subscribe-form {
    padding: 40px 24px 48px 24px;
  }
}

@media screen and (min-width: 768px) {
  .subscribe-form {
    padding: 40px;
    padding-bottom: 48px;
  }
}
