// Config variables


// External libraries


// CSS Partials
@import "partials/banner.css";

// Reset
body {
  margin: 0;
}

// Custom
.container {
  width: 30vw;
  margin: 0 auto;

  background-color: orange;
}
