// Dimensions
$logo-width-small: 100px;
$logo-width: 120px;
$logo-angle: -10deg;

$banner-height: 240px;

$container-width-small: 90%;
$container-width-medium: 500px;
$container-width-large: 600px;


// Fonts
$header-font: 'Raleway', sans-serif;
$body-font: 'Montserrat', sans-serif;


// Colors
$dark-blue: #061558;
$blue-oyster-bay: #cbedf2;
$red: #f02917;
$light-gray: rgba(0,0,0,0.25);

// Colors background shapes
$bs-blue: #e4ebff;
