// Dimensions
$banner-height: 240px;

$logo-width-small: 120px;
$logo-width: 140px;
$logo-angle: 6deg;

$title-angle: -8deg;

// Fonts
// $header-font: 'Raleway', sans-serif;
$header-font: 'Montserrat', sans-serif;
$body-font: 'Montserrat', sans-serif;


// Colors
$dark-blue: #061558;
$blue-oyster-bay: #cbedf2;
$red: #f02917;
$light-gray: rgba(0,0,0,0.25);

// Colors background shapes
$bs-blue: #e4ebff;
$bs-pink: #fbe4e5;
$bs-yellow: #fffbe3;
