<div class="container content bodyfont">
  <p><span>Hello!</span> We are a new concept for audio guides. You know, the things with the headphones that your grandparents use at museums. 👴👵🎧</p>
  <br>
  <p>Except <span>All Ears</span> is different. Our audio guides are really, really good. And best of all, no more grimy handsets and vintage earphones being passed around.</p>
</div>

<div class="img-container">
  <%= image_tag("iphone-render-1000.png", class: "iphone-render") %>
</div>

<div class="container content bodyfont">
  <p>All Ears produces and distributes high quality, <span>engaging</span> audio guides for art exhibitions to your personal smartphone and headphones.</p>
  <br>
  <p>We provide an immersive, highly engaging audio experience for <span>everyone</span>, whether you know loads about art, or nothing at all.</p>
</div>
