<footer>
  <div class="container">
    <a href="mailto:team@allears.art" class="contact-us bodyfont">
      <p>Contact us for collaborations</p>
      <i class="fas fa-arrow-circle-right"></i>
    </a>
  </div>
</footer>
